streamlit==1.49.1
pandas==2.3.2
plotly==6.3.0
matplotlib==3.10.6
wordcloud==1.9.4
nltk==3.9.1
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@614d4c2029a62d348ca56598f87c425966aaec66
# tambahkan paket lain yang benar-benar dipakai di app (tanpa browser-headless libs)
